DATABASE_URL=postgresql://neondb_owner:npg_D9ceCU3ZTnIp@ep-tiny-water-al4l2j3x-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_URL=http://localhost:3001
JWT_SECRET=SKDFJAdfhdfdhdfFAGREER
COOKIE_SECRET=JSDKFJdsgosiidsigs4^32323
PORT=3000
CLOUDINARY_CLOUD_NAME=sdfsgddgsdg
CLOUDINARY_API_KEY=gdfhdhdfhdfhdhdffh
CLOUDINARY_API_SECRET=dfhdfhdfhffdhdf
